apiVersion: v1
kind: Secret
metadata:
  name: maas-postgres-credentials
  namespace: redhat-ai-gateway-infra
type: Opaque
stringData:
  POSTGRESQL_USER: maas
  POSTGRESQL_PASSWORD: "REPLACE_WITH_DB_PASSWORD"
  POSTGRESQL_DATABASE: maas
