apiVersion: v1
kind: Secret
metadata:
  name: maas-db-config
  namespace: redhat-ai-gateway-infra
type: Opaque
stringData:
  DB_CONNECTION_URL: "postgresql://maas:REPLACE_WITH_DB_PASSWORD@maas-postgres.redhat-ai-gateway-infra.svc:5432/maas?sslmode=disable"
