apiVersion: v1
kind: Secret
metadata:
  name: idp-client-secret
  namespace: redhat-ods-applications
type: Opaque
stringData:
  clientSecret: "REPLACE_WITH_IDP_CLIENT_SECRET"
---
apiVersion: services.platform.opendatahub.io/v1alpha1
kind: GatewayConfig
metadata:
  name: default-gateway
spec:
  oidc:
    issuerURL: "REPLACE_WITH_IDP_ISSUER_URL"
    clientID: "REPLACE_WITH_IDP_CLIENT_ID"
    clientSecretRef:
      name: idp-client-secret
      key: clientSecret
