# Open WebUI Admin Secret Template
#
# DO NOT commit the filled-in version of this file.
# Fill in the REPLACE_WITH_ values, then seal with kubeseal:
#
#   kubeseal --format yaml \
#     --controller-name sealed-secrets \
#     --controller-namespace sealed-secrets \
#     < /tmp/open-webui-admin.yaml \
#     > sealed-open-webui-admin.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: open-webui-admin
  namespace: open-webui
type: Opaque
stringData:
  password: REPLACE_WITH_ADMIN_PASSWORD
