# Open WebUI OIDC Secret Template
#
# DO NOT commit the filled-in version of this file.
# Fill in the REPLACE_WITH_ values, then seal with kubeseal:
#
#   kubeseal --format yaml \
#     --controller-name sealed-secrets \
#     --controller-namespace sealed-secrets \
#     < /tmp/open-webui-oidc.yaml \
#     > sealed-open-webui-oidc.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: open-webui-oidc
  namespace: open-webui
type: Opaque
stringData:
  OAUTH_CLIENT_SECRET: REPLACE_WITH_KEYCLOAK_CLIENT_SECRET
